@media screen and (max-width: 1439px) {
    main .main-section-index div {
        width: 80%
    }
    main .main-section-index div h1 {
        font-size: 80px;
    }
    main .main-section-index div p {
        font-size: 40px;
    }
    footer h4 {
        font-size: large;
    }
}

@media screen and (max-width: 1200px) {
    main .el-diseño {
        height: 600px;
    }
    main .el-diseño img {
        width: 500px;
        height: 600px;
    }
    main .el-diseño div {
        margin: 25px;
    }
    main .el-diseño div h2 {
        font-size: 30px;
    }
    main .el-diseño div p {
        font-size: 20px;
    }
    main .direccion .ubicacion iframe {
        width: 500px;
        height: 400px;
    }
}

@media screen and (max-width: 1125px) {
    main .lo-que-hacemos h2 {
        font-size: 35px;
    }
    main .lo-que-hacemos p {
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) {
    main .direccion .datos h2 {
        font-size: 30px;
    }
    main .direccion .datos ul li {
        font-size: 20px;
    }
    main .direccion .ubicacion iframe {
        width: 400px;
        height: 350px;
    }
}

@media screen and (max-width: 1038px) {
    main .main-section-info .solicitar-info {
        width: 70%;
    }
    main .main-section-info h2 {
        text-align: center;
        font-size: 30px;
    }
}

@media screen and (max-width: 952px){
    main .main-section-index div {
        width: 60%;
    }
    main .main-section-index div h1 {
        font-size: 60px;
    }
    main .main-section-index div p {
        font-size: 40px;
    }
}

@media screen and (max-width: 900px) {
    main .el-diseño {
        width: auto;
        height: 500px;
    }
    main .el-diseño img {
        display: none;
    }
    main .el-diseño div {
        margin: 50px;
    }
    main .el-diseño div h2 {
        font-size: 25px;
    }
    main .el-diseño div p {
        font-size: 20px;
    }
    main .nuestros-trabajos h2 {
        font-size: xx-large;
    }
    main .nuestros-trabajos .grid-conteiner-nuestros-trabajos {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }
    main .nuestros-trabajos .grid.conteiner-nuestros-trabajos .grid-item-cinco {
        grid-row: span 2;
    }
    main .direccion {
        height: 400px;
    }
    main .direccion .datos h2 {
        font-size: 28px;
    }
    main .direccion .datos ul li {
        font-size: 18px;
    }
    main .direccion .ubicacion iframe {
        width: 350px;
        height: 300px;
    }
}

@media screen and (max-width: 860px) {
    main .main-section-carrusel div div div img {
        width: 600px;
        height: 300px;
    }    
}

@media screen and (max-width: 820px) {
    main .main-section-contacto h1 {
        font-size: 80px;
    }
    main .main-section-nosotros h1 {
        font-size: 80px;
    }
    main .main-section-productos h1 {
        font-size: 80px;
    }
    main .main-section-servicios h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 806px){
    main .main-section-index {
        height: 500px;
        background-size: 100% 100%;
    }
    main .main-section-index div {
        width: 60%;
    }
    main .main-section-index div h1 {
        font-size: 50px;
    }
    main .main-section-index div p {
        font-size: 30px;
    }
    main .main-section-contacto {
        height: 500px;
        background-size: 100% 100%;
    }
    main .main-section-nosotros {
        height: 500px;
        background-size: 100% 100%;
    }
    main .main-section-productos {
        height: 500px;
        background-size: 100% 100%;
    }
    main .main-section-servicios {
        height: 500px;
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 800px) {
    footer {
        padding: 10px;
        flex-direction: column;
    }
    footer h4 {
        padding: 10px;
    }
    footer div a {
        padding: 10px;
    }
}

@media screen and (max-width: 750px) {
    main .direccion {
        height: 700px;
        flex-direction: column;
    }
    main .direccion .datos h2 {
        font-size: 35px;
    }
    main .direccion .datos ul li {
        font-size: 25px;
    }
    main .direccion .ubicacion iframe {
        width: 500px;
        height: 280px;
    }
}

@media screen and (max-width: 720px) {
    main .lo-que-hacemos h2 {
        font-size: 30px;
    }
    main .lo-que-hacemos p {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px){
    main .main-section-info .solicitar-info {
        width: 80%;
    }
}

@media screen and (max-width: 690px) {
    main .main-section-servicios-dos .main-section-fila div img {
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width: 650px) {
    main .main-section-contacto h1 {
        font-size: 60px;
    }
    main .main-section-nosotros h1 {
        font-size: 60px;
    }
    main .main-section-productos h1 {
        font-size: 60px;
    }
    main .main-section-servicios h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 640px) {
    main .main-section-carrusel div div div img {
        width: 100%;
        height: 200px;
    }
    main .main-section-carrusel div div div h4 {
        font-size: 20px;
        font-weight: 900;
    }  
}

@media screen and (max-width: 638px){
    main .main-section-index div {
        width: 80%;
        padding: 10px;
    }
    main .main-section-index div h1 {
        font-size: 40px;
    }
    main .main-section-index div p {
        font-size: 25px;
        font-weight: 900;
    }
}

@media screen and (max-width: 611px) {
    main .lo-que-hacemos {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    main .main-section-index {
        background-image: url(../img/modelo-escalera-1.jpg);
    }
    main .main-section-contacto {
        background-image: url(../img/contacto-madera1.jpg);
    }
    main .main-section-nosotros {
        background-image: url(../img/contacto-madera1.jpg);
    }
    main .main-section-productos {
        background-image: url(../img/contacto-madera1.jpg);
    }
    main .main-section-servicios {
        background-image: url(../img/contacto-madera1.jpg);
    }
    main .el-diseño {
        width: auto;
        height: 450px;
    }
    main .el-diseño div {
        margin: 40px;
    }
    main .el-diseño div h2 {
        font-size: 20px;
    }
    main .el-diseño div p {
        font-size: 15px;
    }
    main .nuestros-trabajos h2 {
        font-size: x-large;
    }
    main .nuestros-trabajos .grid-conteiner-nuestros-trabajos {
        grid-template-columns: 1fr;
        grid-auto-rows: 150px;
    }
    main .nuestros-trabajos .grid-conteiner-nuestros-trabajos .grid-item-dos {
        grid-row: span 2;
    }
    main .nuestros-trabajos .grid-conteiner-nuestros-trabajos .grid-item-seis {
        grid-row: span 2;
    }
    main .main-section-servicios-dos .main-section-fila div img {
        width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 520px) {
    main .direccion {
        height: 600px;
    }
    main .direccion .datos h2 {
        font-size: 30px;
    }
    main .direccion .datos ul li {
        font-size: 20px;
    }
    main .direccion .ubicacion iframe {
        width: 450px;
        height: 280px;
    }
}

@media screen and (max-width: 509px) {
    main .lo-que-hacemos h2 {
        font-size: 25px;
    }
    main .lo-que-hacemos p {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px){
    main .main-section-info .solicitar-info {
        width: 100%;
    }
}

@media screen and (max-width: 470px) {
    main .main-section-contacto h1 {
        font-size: 40px;
    }
    main .main-section-nosotros h1 {
        font-size: 40px;
    }
    main .main-section-productos h1 {
        font-size: 40px;
    }
    main .main-section-servicios h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 460px) {
    main .index-productos-destacados h2 {
        font-size: x-large;
    }
    main .index-productos-destacados div div img {
        width: 300px;
        height: 200px;
        border-radius: 7px;
    }
    main .listado-productos div div img {
        width: 300px;
        height: 200px;
        border-radius: 7px;
    }
    main .main-section-servicios-dos .main-section-fila div img {
        width: 300px;
        height: 200px;
    }
    main .direccion .datos h2 {
        font-size: 25px;
    }
    main .direccion .ubicacion iframe {
        width: 400px;
        height: 280px;
    }
}

@media screen and (max-width: 448px) {
    main .lo-que-hacemos h2 {
        margin-bottom: 10px;
    }
    main .lo-que-hacemos p {
        padding: 5px;
        margin: 5px;
    }
}

@media screen and (max-width: 429px) {
    main .el-diseño {
        width: auto;
        height: 450px;
    }
    main .el-diseño div {
        margin: 30px;
    }
    main .el-diseño div h2 {
        font-size: 20px;
    }
    main .el-diseño div p {
        font-size: 13px;
    }
}

@media screen and (max-width: 415px) {
    main .direccion .datos h2 {
        font-size: 23px;
    }
    main .direccion .datos ul li {
        font-size: 18px;
    }
    main .direccion .ubicacion iframe {
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width: 400px){
    main .main-section-index {
        height: 450px;
    }
    main .main-section-index div {
        width: 70%;
        padding: 5px;
    }
    main .main-section-index div h1 {
        font-size: 30px;
    }
    main .main-section-index div p {
        font-size: 20px;
    }
    main .main-section-contacto {
        height: 450px;
    }
    main .main-section-nosotros {
        height: 450px;
    }
    main .main-section-productos {
        height: 450px;
    }
    main .main-section-servicios {
        height: 450px;
    }
}

@media screen and (max-width: 370px) {
    main .index-productos-destacados div div img {
        width: 250px;
        height: 150px;
        border-radius: 7px;
    }
    main .listado-productos div div img {
        width: 250px;
        height: 150px;
        border-radius: 7px;
    }
    main .main-section-servicios-dos .main-section-fila div img {
        width: 290px;
        height: 170px;
    }
}